version: 2.1
orbs:
  node: circleci/node@4.7.0

jobs:
  build_and_test:
    docker:
      - image: cimg/node:29.5.0
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: npm install
          name: Install dependencies
      - persist_to_workspace:
          root: ~/project
          paths:
            - .
workflows:
  on_commit:
    jobs:
      - build_and_test
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_and_test
